<h1>Home</h1>

<div><button ng-click="home.getRandomGif()">Random</button></div>
<div class="newFav"><img ng-src="{{home.randomGifURL}}"/><button ng-click="addField()">Favorite Gif</button><input type="text"  /></div><br />

<input type="text" ng-model="home.search">
<button ng-click="home.searchForGif(home.search)">Search</button>


<div class="newFav" ng-repeat="movingPicture in home.searchedGifs"><img ng-src="{{movingPicture.images.fixed_height.url}}"/><br /><button>Favorite Gif</button><input type="text" /></div>
